.card.card-custom {
  box-shadow: 0px 0px 6px -2px var(--bs-dark);
  border: none;
}

.card.card-custom img {
  object-fit: cover;
}

.card.card-custom .card-link {
  color: var(--bs-dark);
}

.card.card-custom .card-link:hover {
  color: var(--bs-secondary);
}

.card.card-custom.card-workplace img {
  opacity: 0.25
}