/* .nav-pills-custom .active a,
.nav-pills-custom .active a:hover {
  background-color: black;
} */

/* .nav-pills>.active>a,
.nav-pills>.active>a:hover {
  background-color: black;
} */

/* .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: white;
  background-color: var(--bs-dark);
  font-weight: 600;
}

.nav-link {
  color: var(--bs-dark);
} */